/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Noto+Sans+JP:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #8ed7ec;
  --qwik-dark-purple: #8ed7ec;
}

body {
  /* background-color: #fafafa; */
  font-family: Inter, Noto Sans JP, Yu-Gothic, "游ゴシック体", YuGothic,
    "游ゴシック", "Yu Gothic", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  @apply bg-kSkyBlue;
}

main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  @apply bg-kSkyBlue;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

section {
  /* padding: 20px; */
  @apply prose xl:prose-xl prose-neutral antialiased text-kDarkBlue bg-kSkyBlue
  pb-12 border-b-[0.5px] border-white;
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

table.commands {
  margin: 0 0 30px 0;
}

.commands td {
  padding: 5px;
}

.commands td:first-child {
  white-space: nowrap;
  padding-right: 20px;
}

code {
  font-family: Inter, Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

a.mindblow {
  margin: 0 auto;
  display: block;
  background: var(--qwik-dark-purple);
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  border-bottom: 4px solid black;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤯</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

a.mindblow:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
}
